@import url('https://fonts.googleapis.com/css?family=Lato');

/***** widths ***/
$stripWidth: 60px;
$stripGap: 20px;

/**** colors ***/
$button: #878787;
$buttonLight: #bebebe;

/***** screen width ****/


* {
  box-sizing: border-box;
}
body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
/******* background image for header and footer ***********/
.background{
  background-image: url('~assets/header-bg.png');
  width: 100%;
}
/********* main header ***********/

.main-hdr{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  position: relative;
  @media (min-width: 715px){
    flex-flow: row wrap;
    padding: 20px 120px;
    justify-content: space-between;

  }
  @media (min-width:1200px){
    flex-flow: row nowrap;
    
  }
/********* logo *********/

  &__logo{
    align-self: flex-start;
    @media (min-width:1200px){
      align-self: auto;
    }

  }
/********* hamburger menu **********/
  &__hamburger-menu{
    position: absolute;
    height: 50px;
    width: 50px;
    top:10px;
    right:10px;
    @media (min-width: 714px){
      display: none;
    }

    span{
      display: block;
      width: 40px;
      height: 8px;
      top:20px;
      left: 5px;
      background: white;
      border-radius: 5px;
      position: absolute;
      transition: all 0.3s ease;

      &::before, &::after{
          content: "";
          display: block;
          width: 40px;
          height: 8px;
          background-color: white;
          position: absolute;
          border-radius: 5px;
      }
      &::before{
        top: 15px;
      }
      &::after{
        top: -15px;
      }
    }
      &.open{
        &+ .main-hdr__nav{
          display: block;
        }
    span{
      transform: rotate(45deg);
      &::before{
        opacity:0;
      }
      &::after{
        top:0px;
        transform: rotate(-90deg);
      }
    }
  }
  }

/********* nav bar ********/
  &__nav{
        
    order:1;
    width: 100%;
    text-align: center;
    display:none;
    @media (min-width: 715px){
      display: block;
      
    }
    @media (min-width:1200px){
      order:0;
      padding: 0 0 0 140px;
    }
    ul{
      padding: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      @media (min-width: 715px){
        flex-flow: row nowrap;
        justify-content: space-around;
      }
      @media (min-width:1200px){
        justify-content: center;
      }
      
    }

    &__item{
      padding: 0px 10px;
      @media (min-width: 715px){
        border-right:solid 1px #49494c;
      }

      a{
        padding: 10px;
        line-height: 2.5em;
        &:hover{
        background-color: #2e2e2e;
        border-radius: 5px;
        box-shadow: inset 1px 1px 3px #292828 ;

        }
      }
    }
  }
/********** search bar ****/
  &__form{
    display:none;
    padding: 10px;
    @media(min-width:715px){
      display:block;
      padding:0;
    }
    input{
          border-radius: 25px;
          height: 26px;
          width: 150px;
          background-color: #2e2e2e;
          border: none;
          box-shadow: inset 2px 2px 9px #212121;
          background-image: url('~assets/loupe.svg');
          background-repeat: no-repeat;
          background-size: 13px;
          background-position:5% 50%;
          outline: none;
          color: white;
          text-indent: 25px;
          }
    }
}


/******** promo boxes *********/
.promo_box{
  display:flex;
  position: relative;
  flex-flow: column wrap;
  padding: 0 15px 50px 15px;
  @media (min-width:715px){
    padding: 20px 120px 90px;
  }
  @media (min-width:1200px){
    flex-flow: row wrap;
    justify-content: space-between;
  }


    &__text{
    color: white;
    display: flex;
    width: 100%;
    text-align: left;
    word-spacing: 7px;
    flex-flow: column wrap;
    @media(min-width:715px){
      width: 80%;
      padding-right: 30px; 
    }
    @media(min-width:1200px){
      width: 50%;
      // padding: 0 40px 0 0;
      flex-basis: 40%;
      order: 0;
      
      
    }
    p{
      line-height: 17px;
      word-spacing: 1.4px;
    }

  }
/********* promo text images ************/

  &__image{
    display:none;
    width: (2 * $stripWidth) + (3 * $stripGap);
    height: 150px;
    position: absolute;
    right:10px;
    bottom: 40px;
    opacity: 0.2;
    z-index: 1;
    @media(min-width:715px){
      position: static;
      opacity: 1;
      align-self: flex-end;
      width: 330px;
      height: 250px;
    }
    @media(min-width:1200px){
      width: 50%;
      height: 350px;
      flex-basis: 50%;
      align-self: stretch;
      margin-right: 80px;
      // order:2;
      
    }
  }

  &__button{
    width: (2 * $stripWidth) + $stripGap;
    height: 35px;
    border-radius: 3px;
    background: $button;
    border: none;
    color: white;
    box-shadow: inset 0px 0px 4px black;
    outline: none;
    transition: all 0.2s ease;
    &:active{
      transform: translate(1px, 1px);
    }
    @media(min-width:1200px){
      position: absolute;
      top:250px;
    }
  }
/******* slider indicators *********/
  &__slider-indicator{
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;

    @media(min-width:1200px){
      position: absolute;
      right: 120px;
      bottom: 65px;

    }
    &__span{
      visibility: hidden;
      width: 23px;
      height: 5px;
      background-color: $button;
      margin: 0 5px;
      z-index: 100;


      &:hover{
        background-color:$buttonLight;

      }
    }
  }
}
.active{
  background-color:$buttonLight;
}

/********** about section *********/
.stripes{
  width:75%;
  height:5px;
  margin: 20px 0 30px 0;
  background: repeating-linear-gradient(-45deg, transparent, transparent 1px, #fff 1px, #c9c9c9 3px);
}

.about{
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transform: translateY(-32px);
  @media(min-width:715px){
    padding: 0 120px;
    transform: translateY(-65px);
  }

  &__item{
    // width: (4 * $stripWidth) + (3 * $stripGap);
    width: 100%;
    padding: 20px 30px;
    margin:0  10px 20px;
    background: white;
    box-shadow: 0px 3px 5px 1px #c3c3c3;
    @media(min-width:715px){
      width: 220px / 460px * 100%;
      margin: 15px 0;
          }
    @media(min-width:1200px){
      width: 220px / 940px *100%;
      padding: 20px;
    }
        h3{
      padding-bottom: 10px;
      word-spacing: 3px;
      margin: 10px 0 0 3px;
    }
    p{
      padding-top: 12px;
      margin: 0;
      line-height: 15px;
      word-spacing: 1px;

      &:first-of-type{
        color: $buttonLight;
      }
    }

    p:last-of-type{
      margin-bottom: 50px; 

    }

    a{
      color: black;
      font-size: 1.2em;
      font-weight: bold;
      
    }
    
  }
}


/******* work section **********/

.work{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  &__header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;

      &__slider-indicator{
        display: flex;
        flex-flow: row nowrap;
        align-self: center;
        span{
          width: 23px;
          height: 5px;
          background: $button;
          margin: 0 5px;
        }
     }
     &__stripes{
       width: 100%;
       height: 5px;
       order:1;
       background: repeating-linear-gradient(-45deg, transparent, transparent 1px, #fff 1px, #c9c9c9 3px);
     }

  }

  @media (min-width:715px){
    padding: 0 120px 50px;
  }
  
/****** items *********/

  &__items{
    display: flex;
    flex-flow: column wrap;
    @media (min-width:715px){
      flex-flow: row wrap;
      justify-content: space-around;
    }


    &__text{
      width: 300px;
      padding: 0 0 28px;
      p{
       &:first-of-type{
        color: $buttonLight;
      }
      }

      @media(min-width:715px){
        width: 220px;
        height: 200px;

      }

    }
/*********** items images *****/
    &__image{
      width: 300px;
      height: 274px;
      margin:11px 0;
      position: relative;

      &:hover .work__items__image__cover{
        opacity: 1;
      }



      img{
        width:100%;
        height: 100%;
        position: absolute;
        opacity: 1;
      }

/****** cover elements on hover ********/
      &__cover{
        position: absolute;
        opacity: 0;
        background: rgba(0,0,0,0.66);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;



        &__img{
          width:73px;
          height: 73px;
          background: gray;
          border-radius: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          img{
            width:60%;
            height: 60%;
            position: absolute;
            top:25%;
            left: 25%;
            transform: translate(-10%, -6%);
          }
        }

        &__text{
          color: white;
          display: flex;
          flex-flow: row nowrap;
          // justify-content: space-around;
          align-items:flex-end;

          p{
            padding: 10px;
          }
        }
      }

      @media(min-width:715px){
        width: 220px;
        height: 200px;
        margin-left: 10px;
      }
    }
    &__empty{
      width:220px;
      height: 200px;
      display: none;

      @media(min-width:1200px){
        display: block;
      }
    }
  }

}


/******** footer **********/

.footer{

/****** infoboxes ****/
  &__infoBox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @media(min-width:715px){
      padding: 20px 120px 0;

    }

    &__item{
      color: white;
      width: 100%;
      margin:10px;
      position: relative;
      margin: 0 10px;

      @media(min-width:715px){
        width: 220px;
        margin: 0;
      }

      h2{
        margin: 20px 0 30px;
         &:after{
           content: '';
           display: block;
           position: absolute;
           height: 1px;
           width: 220px;
           background-color: #817c7c;
           top: 55px;

         }

      }
      &__images{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &__img{
          width: 46px;
          height: 46px;
          margin: 6px 0;
          border: solid 3px white;
          background: #cccccc;
        }
      }
    }

  }
/******** copytights and logo ********/

  &__copyrights{
    padding: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.1);

    @media(min-width:715px){
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    @media(min-width:1200px){
      justify-content: flex-start;
    }

    &__logo{
      align-self: center;
      opacity: 0.5;
      position: relative;

      @media(min-width:715px){
        padding: 0 10px 0 130px;
        &::after{
          content:'';
          width: 1px;
          height: 20px;
          background: #5c5c5c;
          position: absolute;
          right:0;
          top:5px;
        }
      }
    }

    &__text{
      color: white;
      align-self: center;
      opacity: 0.5;
      text-align: center;
      line-height: 0.5em;

      @media(min-width:715px){
        padding-right: 130px;

      }

      @media(min-width:1200px){
        padding: 0 0 0 20px;
      }
    }
  }

}

