@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}
body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
/******* background image for header and footer ***********/
.background{
  background-image: url('~assets/header-bg.png');
  width: 100%;
}
/********* main header ***********/

.main-hdr{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 120px;

  &__nav{
    ul{
      display: flex;
      flex-flow: row nowrap;
    }

    &__item{
      border-right:solid 1px white;
      padding: 0px 10px;
      // margin: 10px;
      a{
        padding: 10px;
        &:hover{
        background-color: #2e2e2e;
        border-radius: 5px;
        box-shadow: inset 1px 1px 3px #292828 ;

      }
      // &:hover{
      //   background-color: black;
      // }
    }
  }
}
}


// /** main header**/
// .main-hdr {
//   background-image: url('~assets/header-bg.png');
//   width: 100%;
//   height: 514px;
//   position: relative;
// }
// /******** logo ***********/
// .logo {
//   top: 30px;
//   left: 20px;
//   position: absolute;
//   img{
//      width: 100%;
//      height: 100%;
//   }
// }

// /********** hamburger menu *********/
// .hamburger-menu {
//   top: 40px;
//   position: absolute;
//   right: 10px;
//   height: 50px;
//   width: 50px;
//   border: 0;
//   background: none;
// }
// .hamburger-menu:focus {
//   outline: none;
// }
// .hamburger-menu span {
//   display: block;
//   border: 0;
//   width: 40px;
//   height: 8px;
//   border-radius: 5px;
//   background-color: white;
//   position: relative;
//   transition: all 0.5s ease;
// }
// .hamburger-menu span:after,
// .hamburger-menu span:before {
//   content: "";
//   display: block;
//   width: 40px;
//   height: 8px;
//   background-color: white;
//   position: absolute;
//   border-radius: 5px;
// }
// .hamburger-menu span:after {
//   top: 16px;
// }
// .hamburger-menu span:before {
//   top: -16px;
// }
// .hamburger-menu.open + .nav {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
// }
// .hamburger-menu.open span {
//   -webkit-transform: rotate(45deg);
//           transform: rotate(45deg);
// }
// .hamburger-menu.open span:before {
//   opacity: 0;
// }
// .hamburger-menu.open span:after {
//   top: 0px;
//   -webkit-transform: rotate(-90deg);
//           transform: rotate(-90deg);
// }
// /********** navigation **********/
// .nav {
//   padding: 0 120px;
//   display: none;
//   ul{
//       padding: 70px 0 0 0;
//       display: flex;
//       flex-direction: row;
//       text-align: center;
//       justify-content: space-around;
//       width: 100%;
//       height: auto;
//   }
//   &.nav__item{
//       padding: 10px 20px;
//       a{
//           padding: 10px;
//       }
//   }
// }

/******** promo boxes *********/
.promo_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo_box__text {
  width: 400px;
  height: 300px;
  background-color: red;
}
.promo_box__image {
  width: 400px;
  height: 300px;
  background-color: blue;
}
/********** about section *********/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 120px;
          // transform: translateY(-65px);
}
.about__item {
  margin: 10px 0;
  display: block;
  width: 220px;
  height: 300px;
  background-color: lightblue;
}
/******* work section **********/
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 120px;
}
.work__text {
  margin: 5px;
  display: block;
  min-width: 220px;
  height: 200px;
  background-color: lightblue;
}
.work__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__images__img {
  display: block;
  width: 220px;
  height: 200px;
  background-color: lightpink;
  margin: 10px;
}
/******** footer **********/
.footer__infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 120px;
}
.footer__infoBox__item {
  margin: 10px 0;
  display: block;
  width: 220px;
  height: 250px;
  background-color: #4a9cb7;
}
.footer__copyrights {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__copyrights__text {
  padding-left: 50px;
}
/************* searchbar *******/
form{
  input{
    border-radius: 25px;
    height: 26px;
    background-color: #393838;
    border: none;
    box-shadow: inset 2px 2px 0px #313131;
    background-image: url('~assets/loupe.svg');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position:5% 50%;
    outline: none;
    color: white;
    text-indent: 25px;
  }
}